<ion-navbar primary *navbar>
    <ion-title>
        <vp-translate key="ADD_CHANNEL.TITLE" [replace]="[device.name]"></vp-translate>
    </ion-title>
</ion-navbar>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label stacked>
                <vp-translate key="ADD_CHANNEL.NAME"></vp-translate>
            </ion-label>
            <ion-input [(ngModel)]="channel.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>
                <vp-translate key="ADD_CHANNEL.NAME"></vp-translate>
            </ion-label>
            <ion-select [(ngModel)]="channel.type">
                <ion-option [value]="channelTypes.WS2812">
                    <vp-translate key="GLOBAL.WS2812"></vp-translate>
                </ion-option>
                <ion-option [value]="channelTypes.LED_STRIP_RGB">
                    <vp-translate key="GLOBAL.LED_STRIP_RGB"></vp-translate>
                </ion-option>
                <ion-option [value]="channelTypes.LED_STRIP">
                    <vp-translate key="GLOBAL.LED_STRIP"></vp-translate>
                </ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="channel.type == channelTypes.WS2812">
        <ion-item>
            <ion-label stacked>ID of the Channel</ion-label>
            <ion-input [(ngModel)]="channel.typedef.channelId"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Count of LEDs</ion-label>
            <ion-input [(ngModel)]="channel.typedef.ledCount"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="channel.type == channelTypes.LED_STRIP">
        <ion-item>
            <ion-label stacked>ID of the Channel</ion-label>
            <ion-input [(ngModel)]="channel.typedef.channelId"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="channel.type == channelTypes.LED_STRIP_RGB">
        <ion-item>
            <ion-label stacked>ID of the red Channel</ion-label>
            <ion-input [(ngModel)]="channel.typedef.red"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>ID of the green Channel</ion-label>
            <ion-input [(ngModel)]="channel.typedef.green"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>ID of the blue Channel</ion-label>
            <ion-input [(ngModel)]="channel.typedef.blue"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<ion-toolbar primary position="bottom">
    <ion-buttons>
        <button style="width: 100%;" (click)="save()">
            save
        </button>
    </ion-buttons>
</ion-toolbar>