<ion-navbar primary *navbar>
    <ion-title>{{ device.name }}</ion-title>
    <ion-buttons end>
        <button (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
<!--    <ion-buttons end>
        <button (click)="clickAddChannel()">
            <ion-icon name="settings"></ion-icon>
            Settings
        </button>
    </ion-buttons>-->
</ion-navbar>
<ion-content>
    <button fab fab-bottom fab-right (click)="clickAddChannel()">
        <ion-icon name="add"></ion-icon>
    </button>
    <ion-list>
        <ion-item-sliding *ngFor="let actual of device.channel">
            <ion-item>
                <ion-label (click)="clickChannel(actual)">
                    <h2>{{ actual.name }}
                        <small> ({{ actual.type }})</small>
                    </h2>
                </ion-label>
                <ion-toggle secondary checked="false" [ngModel]="actual.state.active" (ionChange)="toggle(actual)"></ion-toggle>
            </ion-item>
            <ion-item-options>
                <button danger (click)="clickDelete(actual)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
