<ion-toolbar primary>
    <ion-title>Add new Device</ion-title>
    <ion-buttons start>
        <button (click)="close()">Cancel</button>
    </ion-buttons>
</ion-toolbar>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label stacked>The connection IP for the controller</ion-label>
            <ion-input type="text" [(ngModel)]="ip" [disabled]="registrationResponse != null"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>The controller-key to authenticate</ion-label>
            <ion-input type="text" [(ngModel)]="registrationRequest.key" [disabled]="registrationResponse != null"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="registrationResponse != null">
        <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" [ngModel]="registrationResponse.controllerAlias" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>The type of the controller</ion-label>
            <ion-input type="text" [ngModel]="registrationResponse.controllerType" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Available Channel</ion-label>
            <ion-input type="text" [ngModel]="registrationResponse.availableChannel" disabled></ion-input>
        </ion-item>
    </ion-list>
</ion-content>

<ion-toolbar primary position="bottom" *ngIf="registrationResponse == null" keyboard-attach class="bar-assertive">
    <ion-buttons>
        <button style="width: 100%;" (click)="clickConnect()">
            Connect
        </button>
    </ion-buttons>
</ion-toolbar>

<ion-toolbar primary position="bottom" *ngIf="registrationResponse != null">
    <ion-buttons start *ngIf="registrationResponse.configured">
        <button (click)="clickAdd()">
            Add
        </button>
    </ion-buttons>
    <ion-buttons end>
        <button (click)="clickConfigure()">
            Configure
        </button>
    </ion-buttons>
</ion-toolbar>